@import '../../styles/variables.scss';

.conv-input {
  grid-area: input;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top:$border-color 1px solid;
  animation: ease-in-out 0.5s convInputApper;

  input {
    width: 100%;
    border: none;
    outline: none;
    margin-left: 10px;
  }

}

.dark .conv-input {
  border-top: solid 1px $main-text-color;

  input {
    background:  $dark-main-color;
    color: $dark-text-color;
  }
}
