.list-item {
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: #eeeeee 1px solid;
  padding: 0 15px;
  animation: apper 0.3s ease-in-out;
  &__avatar {
    color: #000;
  }

  &__content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &-name {
      font-size: 15px;
      margin: 0;
      margin-right: auto;
      font-weight: 400;
    }

    &-last-message {
      line-height: 0;
      font-weight: 300;
      margin-right: auto;
    }
  }

  &__date {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: 300;
  }
}

@keyframes apper {
  0% {
    transform: translateX(-110%);
    box-shadow: none;
  }
  100% {
    transform: translateX(0%);
  }
}
