// Main
$main-color: #ef5350;
$main-text-color: #616161;
$main-hover: #ffcdd2;
$main-active: #fafafa;

// Dark
$dark-main-color: #212121;
$dark-text-color: #e0e0e0;
$dark-hover: #424242;

$border-color: #eeeeee;

$search-color: #fffbfb;
