.settings-list-item {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  border-bottom: #eeeeee 1px solid;
  border-top: #eeeeee 1px solid;
  a {
    width: 100%;
  }
  h4 {
    padding: 15px 20px;

    height: 100%;
    font-size: 15px;
    margin: 0;
    font-weight: 400;
  }
}
