.settings-list-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  &:hover {
    transition: 0.3s ease-in;
    background: #ffcdd2;
  }
  a {
    width: 100%;
  }
  h4 {
    padding: 15px 20px;

    height: 100%;
    font-size: 15px;
    margin: 0;
    font-weight: 400;
  }

}

  