@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #616161;
}

.main {
  color: #616161;
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'sidebar  conv';
}

.active {
  border-left: #ef5350 2px solid;
  color: #ef5350;
  background: #fafafa;
}

.active-chat {
  border: #ef5350 1px solid !important;
  box-shadow: 0px -5px 15px 15px rgba(235, 68, 68, 0.1);
  transition: 0.3s ease-in;
}

.icon {
  color: #616161;
  height: 48px;
  width: 48px;
  background-position: center center;
  border-radius: 50%;
  cursor: pointer;
}

.icon-24 {
  color: #616161;
  height: 24px;
  width: 24px;
  background-position: center center;
  cursor: pointer;
}


.dark {
  color:#e0e0e0;
  background: #212121;
  .react-tabs__tab {
    &:hover  {
      
    background: #424242;
    }
    &:focus {
      background: #212121
    }
  }
  .react-tabs__tab-list {
    background: #212121;
  }
  .react-tabs__tab-panel {
    background: #212121;

    .chats-search {
      border:#616161 1px solid ;
    background: #424242;
    &__input {
      background: #424242;
    color: #f5f5f5;
    }
    }

    .chats-list {
      &::-webkit-scrollbar-track {
        background: #616161;
      }
    }
    .list-item {
      border-bottom: solid 1px #616161;
    }

    .settings-list {
      &::-webkit-scrollbar-track {
        background: #616161;
      }
      &-header {
        border-bottom: solid 1px #616161;
      }

      &-item {
        h4 {
          color: #e0e0e0;
        }
        &:hover {
          background:#424242;
        }
      }
    }
  }
  .react-tabs__tab--selected {
    background: #424242;
  }

  .conv {
    &-header {
      border-bottom: solid 1px #616161;
    }

    &-input {
      border-top: solid 1px #616161;

      input {
        background:  #212121;
      }
    }
  }
  .conversation-chat {
    &::-webkit-scrollbar-track {
      background: #616161;
    }
  }
}