@import '../../styles/variables.scss';
.settings {
  grid-area: list;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  animation: ease-in-out apper 0.5s;
  z-index: -10;
  &-list {
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 3.5px;
    }
    &::-webkit-scrollbar-track {
      background:$border-color;
    }

    &::-webkit-scrollbar-thumb {
      background: $main-color;
    }

    &-header {
      display: flex;
      height: 70px;
      align-items: center;
      justify-content: center;
      border-bottom: $border-color 1px solid;
      &__title {
        font-size: 25px;
        padding: 10px;
      }
    }
    &__label {
      position: absolute;
      top: -40px;
      left: 20px;
      color:$main-color;
    }
    &-account {
      margin-top: 35px;
      position: relative;
    }

    &-options {
      margin-top: 40px;
      position: relative;
    }
  }
}


