@import '../../styles/variables.scss';
.file-input {
  display: none;
  &__label {
    color: white;
    margin: 20px auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid $main-color;
    background: $main-color;
    border-radius: 7px;
    width: max-content;

    &:hover {
      transition: 0.3s;
      box-shadow: 0px 0px 5px 5px rgba(235, 68, 68, 0.1);
    }
  }
}
